<div class="page-header">
  <h1>Every. Effect. Ever.</h1>
</div>
<p>Musicians have always sought out ways to change their sound. Whether through adding tremolo and reverb to an amp, or playing harp through an 'Infinite Jets', people have always found a way to make cool sounds.</p>
<p>As this pursuit has grown to become a multi-billion dollar* global industry, no one has yet succeeded in cataloging all the ways that people have enhanced their playing with effects. <b>This is precisely what we intend to do.</b></p>

<br>
<p>* citation needed.</p>
<br><br>

<div class="effect-table">
<% @four_random.each { |pedal| %>
<h1><%= pedal.name %></h1>
<table>
  <tr>
    <th>Type </th>
    <th><%= pedal.versions[-1].effect_type %></th>
  </tr>
  <tr>
    <th>Brand</th>
    <% brand = findBrand(pedal.brand_id)%>
    <th><%= brand.name %></th>
  </tr>
  <tr>
  <th>Format </th>
  <th><%= pedal.versions[-1].effect_format %></th>
  </tr>

  <tr>
  <th>Released</th>
  <th><%= pedal.versions[-1].year_released %></th>
  </tr>

  <tr>
  <th>Colour</th>
  <th><%= pedal.versions[-1].colours[0] %> </th>
  </tr>

  <tr>
  <th>Manufcatured</th>
  <th><%= pedal.versions[-1].
  manufacturing_location_current %> </th>
  </tr>
  <tr>
  <th>Originated</th>
  <th><%= pedal.versions[-1].country_of_origin %> </th>
  </tr>
  <% } %>
</table>
</div>
