<h1>Add a brand</h1>
<%= simple_form_for @brand do |f| %>
  <%= f.input :name, required: true, label: "The brand's name", error: 'Brand name is mandatory, please specify one', input_html: { value: params[:name] } %>

  <%= f.input :year_founded %>

  <%= f.country_select :location_founded, [], :selected => "United
States" %>

  <%= f.input :logo_image_link %>

  <%= f.input :website_link %>

  <%= f.input :parent_company %>

  <%= f.input :notes %>

  <br>
  <%= f.button :submit %>
<% end %>

<br><br>
