<!DOCTYPE html>
<html>
  <head>
    <title>Every Effect Ever</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="site-header">
      <h2>everyeffectever</h2>
      <%= link_to :effects, "/effects" %> | <%= link_to :clones, "/clones" %> | <%= link_to :about, "/about" %> 
    </div>

    <%= yield %>
  </body>
</html>
